[Desktop Entry]
Encoding=UTF-8
Name=Link to FaultTracer Tool Demo - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=naTMMbp0jDI&feature=youtu.be
Icon=text-html
